@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: small;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 5px;
}

h2 {
  margin: 10px 0px 0px 0px;
}

img {
  margin: 2px;
}

ul {
  margin: 0px;
  padding-left: 12px;
}

li {
  margin: 0px;
  list-style-position: inside;
}

.section-contents {
  margin: 10px 0px 0px 10px;
}