@charset "utf-8";

body{
    text-align: center;
    font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
    margin:0;
    color:#313131;
}

a {
    color:blue;
}
a:visited {
    color:blue;
}

header {
    display: block;
    text-align: center;
    overflow: hidden;
}

header h1 {
    font-size: 500%;
    font-weight: normal;
}

ul.icons {
    padding: 5px;
}

ul.icons li {
    display: inline-block;
    list-style-type: none;
    margin: 25px;
}

ul.icons li img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 75px;
}

nav {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

nav h2 {
    font-size: 200%;
    font-weight: normal;
    text-align: center;
}

nav table {
    margin-left: auto;
    margin-right: auto;
}

